* {
      box-sizing: border-box;
    }

/*//////////////////////////////////////////////////////////////////////*/
.flex_logo_container {
  display: flex;
  justify-content: center;
  background-color: rgb(4,4,4);
  transition: 1.5s;
  padding: 10px 10px;
}

.logo_transition{
  transition: 1.0s;
  width: 300px;
  height: 300px;
}
/*//////////////////////////////////////////////////////////////////////*/
.section_left_container{
  display: flex;
  justify-content: center;
  transition: 1.5s;
  margin: 10px;
  height: 550px;
  background-color: darkgray;
  float: left;
  width: 30%;
}
/*//////////////////////////////////////////////////////////////////////*/

.section_right_container{
  display: flex;
  justify-content: center;
  background-color: rgb(4,4,4);
  transition: 1.5s;
  margin: 10px;
  height: 550px;
  background-color: darkgray;
  float: right;
  width: 30%;
}


/*//////////////////////////////////////////////////////////////////////*/
.section_middle_container{
  display: flex;
  justify-content: center;
  background-color: rgb(4,4,4);
  background-color: darkgray;
  height: 100px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
}
/*//////////////////////////////////////////////////////////////////////*/

.nav_container {
  display: flex;
  background-color: darkgray;
  justify-content: center;
  text-align: center;
  padding: 1%;
  font-size: 100%;
  transition: 1.0s;

}

.nav_btn {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 0.5%;
  cursor: pointer;
  transition-duration: 1.0s;
  background-color: rgb(255,255,255);
  border: 6px black;
  border-style: double;
  font-size: 20px;
  font-family: courier;

}

.nav_btn:hover{
  color: white;
  background-color: black;
  border-color:white;

}
 .Link_Button{
  margin: 0.5%;
  width: 100%;
  text-decoration: none;

 }

/*//////////////////////////////////////////////////////////////////////*/
.Slide_Image{
  width: 100%;
  height: 100%;
  padding-block: 15px;
}


.slideshow_box {
  display: flex;
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  justify-content: center;

}


.Slide_number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 23px 27px;
  padding-top: 30px;
  position: absolute;
  top: 0;
}


.Slide_Indicator {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  transition: background-color 0.6s ease;
}

.Slide_Indicator_Container {
  text-align:center;
  padding:20px;
}

.active {
  background-color: black;
}

.fade {
  animation-name: fade;
  animation-duration: 6.5s;
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}
/*//////////////////////////////////////////////////////////////////////*/
.login_modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.hidden{
  display: none;
}

.login_modal_content_container {
    background-color: #fff;
    width: 25%;
    height: 75%;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    position: relative;
    font-family:courier ;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-right: 10px;
    font-size: 50px;
    font-weight: bold;

}

.close:hover,.close:focus{
  color: red;
  cursor: pointer;
}

.model_img_container{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.Login_img{
  width: 50%;
  border-radius: 50%;
}

.username_password_container{
  padding: 10px;
  margin: 30px 10px 10px 10px ;

  height: 60%;
}

.Login_submit_button{
  width: 85%;
  margin: 50px 10px 10px 10px ;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(0,0,0);
  border: 1px solid;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  font-family:courier ;
}

.Register_button{
  width: 25%;
  cursor: pointer;
  background-color: rgb(0,0,0);
  border: 1px solid;
  color: white;
  border-radius: 25px;
  font-family:courier ;
  position: absolute;
  top: 20px:;
  left: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}



.username_password_footer{
  padding: 10px;
  margin: 10px 10px 10px 10px ;
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 20%;
}

.hidden {
    display: none;
}


input[type="username"] {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: black;
    color: white;
    font-family:courier ;

}
input[type="password"] {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: black;
    color: white;
    font-family:courier ;
}



/*//////////////////////////////////////////////////////////////////////*/
.owl-carousel{
    display: flex;
    background-color: white;
}

.card_flipped {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
}

.item{            
    width: 375px;
    height: 520px;
    background-color: white;

}

.card_inside {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_flipped:hover .card_inside {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card_flipped_front, .card_flipped_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_flipped_front {
  background-color: #bbb;
  color: black;
}

.card_flipped_back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.fade-in-image { 
  animation: fadeIn 10s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*//////////////////////////////////////////////////////////////////////*/

.flex_search_bar_container {
  display: flex;
  justify-content: center;
  background-color: rgb(4,4,4);
  padding: 10px 10px;
  margin: 10px 0 10px 0 ;
}

.search_bar {
    display: flex;
    align-items: left;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 75%;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
}

.search_button {
    background-color: darkgrey;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
    margin-left: 5px;
    cursor: pointer;
}
/*//////////////////////////////////////////////////////////////////////*/
.Home_page_footer{
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  font-family:courier ;


}

.Footer_lists{
  display: flex;
  height: auto;
  width: auto;
  background-color: black;
  color: white;
  font-family:courier ;


}

li,a{
  color:white;
  text-decoration: none;
  padding: 1px;
  font-size: 16px;
}

ul{
  list-style-type: none;
  margin-right: 100px;

}

.Social_media_logos{
  display: flex;
  height: auto;
  width: 10%;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  font-size: 60px;
  flex-wrap: wrap;
  justify-content: center;

}
.fa {
  padding-top: 10px;
  width: 75px;
  height: 75px;
  text-align: center;
  text-decoration: none;
  margin: px;
}

.fa-facebook {
  background:white ;
  color: black;
}

.fa-twitter {
  background: white;
  color: black;
}

.fa-instagram {
  background: white;
  color: black;
}

.Review_container{
  display: flex;
  height: auto;
  width: 50%;
  padding: 100px 10px 10px 10px;
  margin: 10px;
  background-color: black;
  color: white;
  font-family:courier ;
  justify-content: right;
}

.Review_img{
  width: 40%;
  height: 60%;

}

/*//////////////////////////////////////////////////////////////////////*/